{% extends 'base.html' %}
{% block content %}
    {% if validlink %}
        <br>
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <span class="anchor" id="formChangePassword"></span>
                <!-- form card change password -->
                <div class="card card-outline-secondary">
                    <div class="card-header">
                        <h3 class="mb-0">Change Password</h3>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit">Change password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <p>
            The password reset link was invalid, possibly because it has already been used.
            Please request a new password reset.
        </p>
    {% endif %}
{% endblock %}