{% extends 'base.html' %}
{% block content %}
    {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            Password anda salah. Silakan diisi kembali dengan data yang benar.
        </div>
    {% endif %}
    <br>
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <span class="anchor" id="formChangePassword"></span>
            <!-- form card change password -->
            <div class="card card-outline-secondary">
                <div class="card-header">
                    <h3 class="mb-0">Change Password</h3>
                </div>
                <div class="card-body">
                    <form class="form" role="form" autocomplete="off" id="formChangePassword" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="inputPasswordOld">Current Password</label>
                            <input type="password" name="old_password" class="form-control" id="inputPasswordOld"
                                   required="">
                        </div>
                        <div class="form-group">
                            <label for="inputPasswordNew">New Password</label>
                            <input type="password" name="new_password1" class="form-control" id="inputPasswordNew"
                                   required="">
                            <span class="form-text small text-muted">
                                            The password must be 8-20 characters, and must <em>not</em> contain spaces.
                                        </span>
                        </div>
                        <div class="form-group">
                            <label for="inputPasswordNewVerify">Verify</label>
                            <input type="password" name="new_password2" class="form-control" id="inputPasswordNewVerify"
                                   required="">
                            <span class="form-text small text-muted">
                                            To confirm, type the new password again.
                                        </span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-lg float-right">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
<!-- /form card change password -->
{#    <div class="row">#}
{#        <div class="col-lg-4"></div>#}
{#        <div class="password_change_form">#}
{#            <form action="" method="post">#}
{#                {% csrf_token %}#}
{##}
{#                <div class="col-lg-4">#}
{#                    <label>Current Password</label>#}
{#                    <div class="form-group pass_show">#}
{#                        {{ form.old_password }}#}
{#                    </div>#}
{#                    <label>New Password</label>#}
{#                    <div class="form-group pass_show">#}
{#                        {{ form.new_password1 }}#}
{#                    </div>#}
{#                    <label>Confirm Password</label>#}
{#                    <div class="form-group pass_show">#}
{#                        {{ form.new_password2 }}#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="form-group">#}
{#                    <button type="submit" class="btn btn-primary btn-lg">Sign Up</button>#}
{#                </div>#}
{#            </form>#}
{#        </div>#}
{#        <div class="col-lg-4"></div>#}
{#    </div>#}
